:root {
  --font-family-primary: "Mulish";
  --color-primary: #1B0601;
  --color-secondary: #950741;
  --color-secondary-hover: #7A0635;
  --color-secondary-click: #590225;
  --color-tertiary: #F9F5F2;
  --color-brown: #1C0301;
  --color-background: #F3EFEC;
  --color-white: #FFFFFF;
}